<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='分类管理',active='category'">
<header th:replace="admin/header::headerFragment(${title},${active})"></header>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="admin/header::header-body"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">分类/标签管理</h4>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-color panel-primary">
                            <div class="panel-heading">
                                <h1 class="panel-title">分类列表</h1>
                            </div>
                            <div class="panel-body">
                                <th:block th:each="type : ${types}">
                                    <div class="btn-group m-b-10">
                                        <th:block th:unless="${type.name == '默认分类'}">
                                            <button type="button"
                                                    th:class="'btn btn-'+${adminCommons.rand_color()}+' dropdown-toggle waves-effect waves-light'"
                                                    data-toggle="dropdown" aria-expanded="false">
                                                <th:block th:text="${type.name}"/>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="javascript:void(0)" th:attr="cid=${type.id},cname=${type.name}"
                                                       class="edit-category">修改</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" th:attr="cid=${type.id}, flag='category'"
                                                       class="del-category">删除</a>
                                                </li>
                                            </ul>
                                        </th:block>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel  panel-pink">
                            <div class="panel-heading">
                                <h1 class="panel-title">标签列表</h1>
                            </div>
                            <div class="panel-body">
                                <th:block th:each="tag : ${tags}">
                                    <div class="btn-group m-b-10">
                                        <button type="button"
                                                th:class="'btn btn-'+${adminCommons.rand_color()}+' dropdown-toggle waves-effect waves-light'"
                                                data-toggle="dropdown" aria-expanded="false">
                                            <th:block th:text="${tag.name}"/>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="javascript:void(0)" th:attr="cid=${tag.id}, flag='tag'"
                                                   class="del-category">删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form id="cform" class="form-inline" role="form">
                                    <input type="hidden" id="cid"/>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="cname" placeholder="请输入分类名称"/>
                                    </div>
                                    <button id="save-category-btn" type="button"
                                            class="btn btn-success waves-effect waves-light m-l-10">保存分类
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                    <!--标签-->
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form id="tform" class="form-inline" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="tname" placeholder="请输入标签名称"/>
                                    </div>
                                    <button id="save-tag-btn" type="button"
                                            class="btn btn-success waves-effect waves-light m-l-10">保存标签
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="admin/footer :: footer-content"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>
<script type="text/javascript">
    /*<![CDATA[*/
    var tale = new $.tale();

    $('#save-category-btn').click(function () {
        var cname = $('#cform #cname').val();
        var cid = $('#cform #cid').val();
        if (cname && cname != '') {
            tale.post({
                url: '/admin/category/saveCategory',
                data: {cid: cid, cname: cname},
                success: function (result) {
                    $('#cform #cid').val('');
                    $('#cform #cname').val('');
                    if (result && result.success) {
                        tale.alertOkAndReload('分类保存成功');
                    } else {
                        tale.alertError(result.msg || '分类保存失败');
                    }
                }
            });
        }
    });

    $('.edit-category').click(function () {
        var cid = $(this).attr('cid');
        var cname = $(this).attr('cname');
        $('#cform #cid').val(cid);
        $('#cform #cname').val(cname);
    });

    $('.del-category').click(function () {
        var cid = $(this).attr('cid');
        var flag = $(this).attr('flag');
        tale.alertConfirm({
            title: '确定删除该项吗?',
            then: function () {
                tale.post({
                    url: '/admin/category/delete',
                    data: {cid: cid, flag: flag},
                    success: function (result) {
                        if (result && result.success) {
                            tale.alertOkAndReload('删除成功');
                        } else {
                            tale.alertError(result.msg || '删除失败');
                        }
                    }
                });
            }
        });
    });

    $('#save-tag-btn').click(function () {
        var tname = $('#tform #tname').val();
        if (tname && tname != '') {
            tale.post({
                url: '/admin/category/saveTag',
                data: {tname: tname},
                success: function (result) {
                    $('#tform #tname').val('');
                    if (result && result.success) {
                        tale.alertOkAndReload('标签保存成功');
                    } else {
                        tale.alertError(result.msg || '标签保存失败');
                    }
                }
            });
        }
    });
    /*]]>*/
</script>
</body>
</html>