<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daibing.myblog.dao.ArticleTagsDao">

    <sql id="Base_Column_List">
      tag_id, article_id, create_time
    </sql>
    <insert id="insertArticleTags">
        INSERT INTO biz_article_tags(article_id,tag_id) VALUES
        <foreach collection="tagIds" item="tagId" index="index" separator=",">
            (#{articleId},#{tagId})
        </foreach>
    </insert>
    <delete id="removeTagsWithArticleId">
        DELETE FROM biz_article_tags WHERE article_id=#{id}
    </delete>
    <select id="getArticleTagsByTigId" resultType="com.daibing.myblog.pojo.BizArticleTags">
      SELECT
      <include refid="Base_Column_List"/>
      FROM biz_article_tags WHERE tag_id=#{cid}
    </select>
</mapper>