<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daibing.myblog.dao.CategoryDao">
    <resultMap id="typesMap" type="com.daibing.myblog.pojo.BizType">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="icon" property="icon"/>
        <result column="available" property="available"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="articles" ofType="com.daibing.myblog.pojo.BizArticle" column="id" select="getArticle">
        </collection>
    </resultMap>
    <sql id="type_list">
        id, name, description, icon, available, create_time, update_time
    </sql>
    <insert id="insert" parameterType="com.daibing.myblog.pojo.BizType">
        INSERT INTO biz_type(name, create_time) VALUES(#{name}, #{createTime})
    </insert>
    <update id="update">
        UPDATE biz_type SET name=#{name} WHERE id=#{id}
    </update>
    <delete id="delete">
        DELETE FROM biz_type WHERE id=#{cid}
    </delete>
    <select id="getTypeById" resultMap="typesMap">
        select
        <include refid="type_list"/>
        from biz_type where id=#{id}
    </select>
    <select id="getAllType" resultMap="typesMap">
        select
        <include refid="type_list"/>
        from biz_type
    </select>
    <select id="getArticle" parameterType="int" resultType="com.daibing.myblog.pojo.BizArticle">
        SELECT * FROM biz_article WHERE type_id=#{id}
    </select>
</mapper>