<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daibing.myblog.dao.LinkDao">

  <sql id="Base_Column_List">
    id, url, name, description, favicon, status, create_time, update_time
  </sql>

  <insert id="addNewLink" parameterType="com.daibing.myblog.pojo.SysLink">
    INSERT INTO sys_link(url, name, description, favicon, create_time)
    VALUES(#{url},#{name},#{description},#{favicon},#{createTime})
  </insert>

  <update id="updateLink" parameterType="com.daibing.myblog.pojo.SysLink">
    update sys_link
    set url = #{url},
      name = #{name},
      description = #{description},
      favicon = #{favicon}
    where id = #{id}
  </update>
  <delete id="deleteLinkById">
    delete from sys_link
    where id = #{id}
  </delete>

  <select id="getAllLink" resultType="com.daibing.myblog.pojo.SysLink">
    SELECT
    <include refid="Base_Column_List"/>
    FROM sys_link WHERE status=1
  </select>

  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_link
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_link
    where id = #{id,jdbcType=BIGINT}
  </delete>
  -->
</mapper>