<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daibing.myblog.dao.LogDao">

  <sql id="Base_Column_List">
    id, action, data, user_id, ip, create_time
  </sql>
  <insert id="insert" parameterType="com.daibing.myblog.pojo.SysLog">
    insert into sys_log (action, data, user_id, ip)
    values (#{action}, #{data}, #{userId}, #{ip} )
  </insert>

</mapper>