<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daibing.myblog.dao.TagsDao">

    <sql id="Base_Column_List">
        id, name, description, create_time, update_time
    </sql>
    <insert id="insertTag" parameterType="com.daibing.myblog.pojo.BizTags">
        INSERT INTO biz_tags(name, create_time) VALUES(#{name}, #{createTime})
    </insert>
    <delete id="delete">
        DELETE FROM biz_tags WHERE id=#{cid}
    </delete>
    <select id="getAllTag" resultType="com.daibing.myblog.pojo.BizTags">
        select
        <include refid="Base_Column_List"/>
        from biz_tags
    </select>
    <select id="getTagsWithArticleId" resultType="com.daibing.myblog.pojo.BizTags">
        SELECT bts.* FROM biz_tags bts,biz_article_tags bat WHERE bts.id=bat.tag_id AND bat.article_id=#{articleId}
    </select>
    <select id="getAllTigsDto" resultType="com.daibing.myblog.dto.BizTagsDto">
      SELECT id,name,description,bt.create_time create_time,COUNT(bat.article_id) article_num
      FROM biz_tags bt LEFT JOIN biz_article_tags bat ON bt.id=bat.tag_id GROUP BY bt.id
    </select>
    <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from biz_tags
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.daibing.myblog.pojo.BizTags">
    insert into biz_tags (id, name, description, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.daibing.myblog.pojo.BizTags">
        update biz_tags
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.daibing.myblog.pojo.BizTags">
        update biz_tags
        set name = #{name,jdbcType=VARCHAR},
          description = #{description,jdbcType=VARCHAR},
          create_time = #{createTime,jdbcType=TIMESTAMP},
          update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
  </update>-->
</mapper>